@mixin unplayable-note {
  background-image: none;
  background-color: red;
  width: 48px;
  height: 120px;
}

@mixin pn {
  color: #000;
  max-height: 120px;
  min-height: 120px;
  width: 48px;
  display: inline-block;
  background-color: #fff;
  background-repeat: none;
}


.scrollingNotesWrapper {
  overflow-y: hidden;
  max-height: 150px;
  height: 150px;
  padding-top: 10px;
  text-align: left;
  line-break: unset;
  white-space: nowrap;
}

/*

.playable_duration-13 {
  margin-right: 65px !important;
}

.playable_duration-25 {
  margin-right: 125px !important;
}

.playable_duration-50 {
  margin-right: 250px !important;
}

*/


section {
  h4 {
    color: blue;
    font-size: 12px;
    padding-left: 2px;
  }
}

section.unplayable_note {
  @include unplayable-note;
  h4 {
    color: yellow;
    font-size: 20px;
    padding-left: 5px;
    overflow: hidden;
    position: relative;
    top: 0px;
  }
}

section.incompatible_pitch {
  background-color: #ff500c !important;
}

@mixin scrollingNoteDur {
  background-image: url("../images/content/notesprite.png");
  width: 30px;
  height: 30px;
  margin-left: 3px;;
  border: 1px solid #000;
  background-position-x: 0px;
  background-position-y: 29px;
  background-size: auto 123%;
  position: relative;
  top: 85px;
  border-radius: 12px;
}

@mixin dottedNote {
  &:before {
    content: "\2022";
    color: #000;
    position: relative;
    top: 9px;
    right: -19px;
    font-size: 10px;
  }
}

.scrollingNotesWrapper {
  section {
    @include shadowed;
    & > div {
      @include shadowed;
    }
  }
  section.currentNote {
    box-shadow: none;
    & > div {
      box-shadow: none;
    }
  }
  section[data-measurestart] > div {
    background-color: #bcffbc;
    background-blend-mode: multiply;
  }
  section.currentNote[data-duration] > div {
    background-color: #fbc500;
    background-blend-mode: multiply;
  }
  section[data-duration="1"] > div {//whole, appears as a hollow oval
    @include scrollingNoteDur;
    background-position-x: 7px;
  }
  section[data-duration="0.75"] > div, 
  section[data-duration="0.625"] > div {
    @include scrollingNoteDur;
    background-position-x: -23px;
    @include dottedNote;
  }
  section[data-duration="0.5"] > div {
    @include scrollingNoteDur;
    background-position-x: -23px;
  }
  section[data-duration="0.375"] > div {
    @include scrollingNoteDur;
    background-position-x: -50px;
    @include dottedNote;
  }
  section[data-duration="0.25"] > div {
    @include scrollingNoteDur;
    background-position-x: -50px;
  }
  section[data-duration="0.1875"] > div {
    @include scrollingNoteDur;
    background-position-x: -82px;//@TODO image needs a dot
    @include dottedNote;
  }
  section[data-duration="0.125"] > div, 
  section[data-duration="0.0938"] > div,
  section[data-duration="0.0834"] > div {
    @include scrollingNoteDur;
    background-position-x: -82px;
  }
  section[data-duration="0.0625"] > div {
    @include scrollingNoteDur;
    background-position-x: 153px;
  }
  section[data-duration="0.0313"] > div,
  section[data-duration="0.0417"] > div {
    @include scrollingNoteDur;
    background-position-x: 126px;
  }
}

main.mobile {
  section.firstScrollingNote {
    width: 100px !important;
  }
}

.scrolling_notes-playable_tuning-gcg {
  @mixin playable-note {
    background-image: url("../images/content/fretboard.png");
    @include pn;
  }

  background-image: none;
  background-repeat: no-repeat;
  background-color: #7e9fb58a;
  height: 170px;

  section {
    margin: 0px 5px 0px 5px;
    &.firstScrollingNote {
      height: 100px;
      width: 400px;//may be overridden by directive above
      background-color: #3e3e3e;
    }
  }
  .currentNote {
    border-left: 5px solid #fbc500;
    border-right: 5px solid #fbc500;
    width: 57px !important;
  }

  // 0 |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  10 |  11 |  12 |
  // 55   56    57    58    59    60↩
  // 60   61    62    63    64    65    66    67↩
  // 68   69    70    71    72    73    74    75    76    77    78    79    80
  .playable_pitch-55 {
    @include playable-note;
    background-position: 0px 0px;
  }
  .playable_pitch-56 {
    @include playable-note;
    background-position: -46px 0px;
  }
  .playable_pitch-57 {
    @include playable-note;
    background-position: -94px 0px;
  }
  .playable_pitch-58 {
    @include playable-note;
    background-position: -140px 0px;
  }
  .playable_pitch-59 {
    @include playable-note;
    background-position: -186px 0px;
  }
  .playable_pitch-60 {
    @include playable-note;
    background-position: -231px 0px;
  }
  .playable_pitch-61 {
    @include playable-note;
    background-position: -350px 0px;
  }
  .playable_pitch-62 {
    @include playable-note;
    background-position: -395px 0px;
  }
  .playable_pitch-63 {
    @include playable-note;
    background-position: -442px 0px;
  }
  .playable_pitch-64 {
    @include playable-note;
    background-position: -485px 0px;
  }
  .playable_pitch-65 {
    @include playable-note;
    background-position: -534px 0px;
  }
  .playable_pitch-66 {
    @include playable-note;
    background-position: -605px 0px;
  }
  .playable_pitch-67 {
    @include playable-note;
    background-position: -652px 0px;
  }
  .playable_pitch-68 {
    @include playable-note;
    background-position: -744px 0px;
  }
  .playable_pitch-69 {
    @include playable-note;
    background-position: -790px 0px;
  }
  .playable_pitch-70 {
    @include playable-note;
    background-position: -836px 0px;
  }
  .playable_pitch-71 {
    @include playable-note;
    background-position: -908px 0px;
  }
  .playable_pitch-72 {
    @include playable-note;
    background-position: -954px 0px;
  }
  .playable_pitch-73 {
    @include playable-note;
    background-position: -1000px 0px;
  }
  .playable_pitch-74 {
    @include playable-note;
    background-position: -1046px 0px;
  }
  .playable_pitch-75 {
    @include playable-note;
    background-position: -1092px 0px;
  }
  .playable_pitch-76 {
    @include playable-note;
    background-position: -1138px 0px;
  }
  .playable_pitch-77 {
    @include playable-note;
    background-position: -1210px 0px;
  }
  .playable_pitch-78 {
    @include playable-note;
    background-position: -1256px 0px;
  }
  .playable_pitch-79 {
    @include playable-note;
    background-position: -1302px 0px;
  }
  .playable_pitch-80 {
    @include playable-note;
    background-position: -410px 0px;
  }
}
